<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<form method="post" id="CountryForm" variable="{% url 'ajax_load_fetchState' %}">
    {% csrf_token %}
    <input type="text" id="txtbox1">
    <input type="text" id="txtbox2">
    <input type="submit" id="btn">
    <p id="name"></p>
    <p id="val"></p>
    <p id="len"></p>
    <p id="max"></p>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#btn").click(function(e) {
        e.preventDefault();
        var url = $("#CountryForm").attr("variable");
        var val1 = $('#txtbox1').val();
        var val2 = $('#txtbox2').val();

        $.ajax({
            url: url,
            data: {
                'val1': val1,
                'val2': val2
            },
            dataType: 'json',
            success: function (data) {
                if (data.user) {
                    var v = data.user;
                    $('#name').text(v.name);
                    $('#val').text(v.val);
                    $('#len').text(v.len);
                }
            }
        });
    });
</script>
</body>
</html>

{##}
{#without json#}
{##}
{#$.ajax({#}
{#            url: url,#}
{#            data: {#}
{#                'val1': val1,#}
{#                'val2': val2#}
{#            },#}
{#            dataType: 'json',#}
{#            success: function (data) {#}
{#               $('#st').text(data);#}
{#                console.log(data);#}
{#            }#}
{#        });#}
{##}
{##}
{##}
